---
services:
  queue:
    image: ${IMAGE_NAME:-app}:latest
    command: ["php", "/var/www/html/artisan", "queue:work", "--sleep=3", "--tries=3", "--max-time=3600"]
    secrets:
      - source: laravel_env
        target: /var/www/html/.env
        uid: "33"
        gid: "33"
        mode: 0440
    ulimits:
      nofile:
        soft: 20000
        hard: 40000
    volumes:
      - 'storage_private:/var/www/html/storage/app/private'
      - 'storage_public:/var/www/html/storage/app/public'
      - 'storage_sessions:/var/www/html/storage/framework/sessions'
      - 'storage_logs:/var/www/html/storage/logs'
    logging:
      driver: 'json-file'
      options:
        max-size: "50m"
        max-file: "6"
    networks:
      - internal
    healthcheck:
      test: ["CMD", "healthcheck-queue"]
      start_period: 120s
      interval: 30s
      timeout: 5s
      retries: 2
    deploy:
      replicas: 1
      update_config:
        failure_action: rollback
        parallelism: 1
        delay: 5s
        order: stop-first
      rollback_config:
        parallelism: 1
        order: stop-first
      restart_policy:
        condition: any
        delay: 10s
        max_attempts: 3
        window: 120s
