<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fadogen</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>24</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
				<key>dateExpires</key>
				<string>10/18/30</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2050</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
						<key>dateExpires</key>
						<string>10/18/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
								<key>dateExpires</key>
								<string>10/18/30</string>
								<key>type</key>
								<string>Developer ID Application</string>
							</dict>
							<key>entitlements</key>
							<dict>
								<key>com.apple.application-identifier</key>
								<string>org.sparkle-project.Sparkle.Autoupdate</string>
							</dict>
							<key>name</key>
							<string>Autoupdate</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>G9BR433264</string>
								<key>name</key>
								<string></string>
							</dict>
						</dict>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>2050</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
								<key>dateExpires</key>
								<string>10/18/30</string>
								<key>type</key>
								<string>Developer ID Application</string>
							</dict>
							<key>name</key>
							<string>Updater.app</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>G9BR433264</string>
								<key>name</key>
								<string></string>
							</dict>
							<key>versionNumber</key>
							<string>2.8.1</string>
						</dict>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>2050</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
								<key>dateExpires</key>
								<string>10/18/30</string>
								<key>type</key>
								<string>Developer ID Application</string>
							</dict>
							<key>name</key>
							<string>Downloader.xpc</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>G9BR433264</string>
								<key>name</key>
								<string></string>
							</dict>
							<key>versionNumber</key>
							<string>2.8.1</string>
						</dict>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>2050</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
								<key>dateExpires</key>
								<string>10/18/30</string>
								<key>type</key>
								<string>Developer ID Application</string>
							</dict>
							<key>name</key>
							<string>Installer.xpc</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>G9BR433264</string>
								<key>name</key>
								<string></string>
							</dict>
							<key>versionNumber</key>
							<string>2.8.1</string>
						</dict>
					</array>
					<key>name</key>
					<string>Sparkle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G9BR433264</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>2.8.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
						<key>dateExpires</key>
						<string>10/18/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>caddy</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G9BR433264</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
						<key>dateExpires</key>
						<string>10/18/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>cloudflared</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G9BR433264</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
						<key>dateExpires</key>
						<string>10/18/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>xdebug.so</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G9BR433264</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
						<key>dateExpires</key>
						<string>10/18/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>mailpit</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G9BR433264</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
						<key>dateExpires</key>
						<string>10/18/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>com.apple.security.cs.allow-dyld-environment-variables</key>
						<true/>
						<key>com.apple.security.cs.allow-jit</key>
						<true/>
						<key>com.apple.security.cs.allow-unsigned-executable-memory</key>
						<true/>
						<key>com.apple.security.cs.disable-executable-page-protection</key>
						<true/>
						<key>com.apple.security.cs.disable-library-validation</key>
						<true/>
					</dict>
					<key>name</key>
					<string>node</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G9BR433264</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
						<key>dateExpires</key>
						<string>10/18/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>com.apple.security.cs.allow-dyld-environment-variables</key>
						<true/>
						<key>com.apple.security.cs.allow-jit</key>
						<true/>
						<key>com.apple.security.cs.allow-unsigned-executable-memory</key>
						<true/>
						<key>com.apple.security.cs.disable-library-validation</key>
						<true/>
					</dict>
					<key>name</key>
					<string>php-cli</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G9BR433264</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
						<key>dateExpires</key>
						<string>10/18/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>com.apple.security.cs.allow-dyld-environment-variables</key>
						<true/>
						<key>com.apple.security.cs.allow-jit</key>
						<true/>
						<key>com.apple.security.cs.allow-unsigned-executable-memory</key>
						<true/>
						<key>com.apple.security.cs.disable-library-validation</key>
						<true/>
					</dict>
					<key>name</key>
					<string>php-fpm</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G9BR433264</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
						<key>dateExpires</key>
						<string>10/18/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>python3.14</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G9BR433264</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
						<key>dateExpires</key>
						<string>10/18/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>libitcl4.2.4.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G9BR433264</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
						<key>dateExpires</key>
						<string>10/18/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>libpython3.14.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G9BR433264</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8.6.14</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
						<key>dateExpires</key>
						<string>10/18/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>libtcl8.6.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G9BR433264</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>8.6.14</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8.6.14</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
						<key>dateExpires</key>
						<string>10/18/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>libtk8.6.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G9BR433264</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>8.6.14</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
						<key>dateExpires</key>
						<string>10/18/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>_ctypes_test.cpython-314-darwin.so</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G9BR433264</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
						<key>dateExpires</key>
						<string>10/18/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>_tkinter.cpython-314-darwin.so</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G9BR433264</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
						<key>dateExpires</key>
						<string>10/18/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>_cffi_backend.cpython-314-darwin.so</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G9BR433264</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
						<key>dateExpires</key>
						<string>10/18/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>_rust.abi3.so</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G9BR433264</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
						<key>dateExpires</key>
						<string>10/18/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>_speedups.cpython-314-darwin.so</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G9BR433264</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
						<key>dateExpires</key>
						<string>10/18/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>_yaml.cpython-314-darwin.so</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G9BR433264</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
						<key>dateExpires</key>
						<string>10/18/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>libthread2.8.9.dylib</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G9BR433264</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
						<key>dateExpires</key>
						<string>10/18/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>sshpass</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G9BR433264</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>013862B2AE3F425468845E1B7F9DAC033D51F778</string>
						<key>dateExpires</key>
						<string>10/18/30</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>yq</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G9BR433264</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>com.apple.application-identifier</key>
				<string>G9BR433264.app.fadogen.Fadogen</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.app.fadogen.Fadogen</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>G9BR433264</string>
			</dict>
			<key>name</key>
			<string>Fadogen.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>317aa939-1251-41ab-b391-c078109d9451</string>
				<key>dateExpires</key>
				<string>12/9/43</string>
				<key>name</key>
				<string>Fadogen Developer ID</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>G9BR433264</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0-alpha.7</string>
		</dict>
	</array>
</dict>
</plist>
