---
services:
  mysql:
    image: mysql:{{MYSQL_VERSION}}
    ulimits:
      nofile:
        soft: 20000
        hard: 40000
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "1"
      MYSQL_DATABASE: "${DB_DATABASE}"
      MYSQL_USER: "${DB_USERNAME}"
      MYSQL_PASSWORD: "${DB_PASSWORD}"
    volumes:
      - 'stack-mysql:/var/lib/mysql'
      - 'backup_dumps:/dumps'
    networks:
      - internal
    logging:
      driver: 'json-file'
      options:
        max-size: "50m"
        max-file: "6"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u${DB_USERNAME}", "-p${DB_PASSWORD}"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    labels:
      - docker-volume-backup.archive-pre=/bin/sh -c 'mysqldump -u $$MYSQL_USER -p$$MYSQL_PASSWORD --single-transaction --set-gtid-purged=OFF --no-tablespaces $$MYSQL_DATABASE > /dumps/mysql.sql'
      - docker-volume-backup.exec-label={{PROJECT_NAME}}
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role==manager

volumes:
  stack-mysql:
