---
services:
  pgsql:
    image: postgres:{{POSTGRES_VERSION}}-alpine
    ulimits:
      nofile:
        soft: 20000
        hard: 40000
    environment:
      POSTGRES_DB: "${DB_DATABASE}"
      POSTGRES_USER: "${DB_USERNAME}"
      POSTGRES_PASSWORD: "${DB_PASSWORD}"
    volumes:
      - 'stack-pgsql:/var/lib/postgresql'
      - 'backup_dumps:/dumps'
    networks:
      - internal
    logging:
      driver: 'json-file'
      options:
        max-size: "50m"
        max-file: "6"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE}"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    labels:
      - docker-volume-backup.archive-pre=/bin/sh -c 'pg_dump -U $$POSTGRES_USER $$POSTGRES_DB > /dumps/pgsql.sql'
      - docker-volume-backup.exec-label={{PROJECT_NAME}}
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role==manager

volumes:
  stack-pgsql:
