---
services:
  mariadb:
    image: mariadb:{{MARIADB_VERSION}}
    ulimits:
      nofile:
        soft: 20000
        hard: 40000
    environment:
      MARIADB_RANDOM_ROOT_PASSWORD: "1"
      MARIADB_DATABASE: "${DB_DATABASE}"
      MARIADB_USER: "${DB_USERNAME}"
      MARIADB_PASSWORD: "${DB_PASSWORD}"
    volumes:
      - 'stack-mariadb:/var/lib/mysql'
      - 'backup_dumps:/dumps'
    networks:
      - internal
    logging:
      driver: 'json-file'
      options:
        max-size: "50m"
        max-file: "6"
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    labels:
      - docker-volume-backup.archive-pre=/bin/sh -c 'mariadb-dump -u $$MARIADB_USER -p$$MARIADB_PASSWORD --single-transaction $$MARIADB_DATABASE > /dumps/mariadb.sql'
      - docker-volume-backup.exec-label={{PROJECT_NAME}}
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role==manager

volumes:
  stack-mariadb:
